---
import Layout from "../layouts/Layout.astro";
import HeroPost from "../components/HeroPost.astro";
import PostCard from "../components/PostCard.astro";
import { getFirstPostsQuery } from '../lib/queries'

const response = await fetch(`${import.meta.env.WORDPRESS_URL}/${import.meta.env.GRAPHQL_API_PATH}`,
	{
		method: 'POST',
		headers: { 'Content-Type': 'application/json' },
		body: JSON.stringify({
			query: getFirstPostsQuery,
			variables: {
				first: 20,
			},
		}),
	})

const json = await response.json();
const allPosts = json.data.posts.edges
const heroPost = allPosts[0]
const morePosts = allPosts.slice(1)
---

<Layout title="Blog" metaDescription="My Own Blog">
	<main class="mx-8">
		<h1 class="text-center mt-20 mb-20"><span class="text-6xl font-extrabold">Blog</span></h1>
		<div class="m-auto">
			<HeroPost href={heroPost.node.slug} title={heroPost.node.title} excerpt={heroPost.node.excerpt}
				img={heroPost.node.featuredImage.node.sourceUrl} author={heroPost.node.author.node.name}
				alt={heroPost.node.featuredImage.node.altText} />
		</div>
		<div class="grid grid-cols-3 gap-y-20 mt-6 mb-32 md:gap-y-32 md:gap-x-16 lg:gap-x-4">
			{morePosts.map((post) => (
			<PostCard href={post.node.slug} title={post.node.title} excerpt={post.node.excerpt}
				img={post.node.featuredImage.node.sourceUrl} author={post.node.author.node.name}
				alt={heroPost.node.featuredImage.node.altText} />
			))}
		</div>
	</main>
</Layout>
